body {
	background-color: aquamarine;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
	padding: 1.7rem;
	color: #16213e;
	text-align: center;
	font-weight: bolder;
	font-size: 2rem;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	border-radius: '20px';
}
